{% extends "base_template.html" %}
{% load staticfiles %}

{% block stylesheet %}
    <link href="{% static 'css/userInfo.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form method="post" action="" id="jsPasswordReset">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}  {{ field }}<br>
                {% endfor %}
                <input value="Submit" type="submit">
            </form>
        </div>
    </div>

{% endblock %}